{% extends 'base.html' %}

{% block app_content %}
    <div class="about" id="about">
        <h1>About:</h1>
        <p>First of all, I would like to clarify that this is a training project. Non-profit.</p>
        <p>Project goals:</p>
        <ul class="custom-ul">
            <li>designing and creating a database</li>
            <li>parsing data from a third-party site</li>
            <li>filling the database with the received data</li>
            <li>you can click on the letters of the alphabet (displaying a list of links to authors, the first letter of the surname)</li>
            <li>creating RestAPI</li>
        </ul>
    </div>
{% endblock %}