{% extends 'base.html' %}

{% block app_content %}

    <div class="letters">
        <div class="letter" onclick="selectLetter(event, this.id)" id="А">А</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="Б">Б</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="В">В</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="Г">Г</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="Д">Д</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="Е">Е</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="Ж">Ж</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="З">З</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="И">И</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="К">К</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="Л">Л</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="М">М</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="Н">Н</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="О">О</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="П">П</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="Р">Р</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="С">С</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="Т">Т</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="У">У</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="Ф">Ф</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="Х">Х</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="Ц">Ц</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="Ч">Ч</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="Ш">Ш</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="Э">Э</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="Ю">Ю</div>
        <div class="letter" onclick="selectLetter(event, this.id)" id="Я">Я</div>
    </div>
    <div class="authors" id="authors">
        <p id="author_number"></p>
        <div id="authors-list"></div>
    </div>

{% endblock %}